/************ Custom Font ************/

@font-face {
  font-family: Inter;
  src: url('./assets/font/Inter-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url('./assets/font/Inter-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url('./assets/font/Inter-Light.ttf');
  font-weight: 400;
}

/************ Default Css ************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: 700;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.App {
  text-align: center;
  background-image: url('./assets/img/binary_gauss.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/************ Navbar Css ************/

nav.navbar {
  padding: 5% 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 1% 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 20px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    font-weight: 700;
    caret-color: transparent;
}
span.navbar-text {
    display: flex;
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 30px;
  height: 30px;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}


.navbar-text div {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************ Banner Css ************/
.banner {
  /* margin-top: 0; */
  padding-top: 25vh;
  background-image: url('./assets/img/binary_gauss.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: repeat;
  /* height: 100%; */
  color: white;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(192, 54, 136, 0.762) -5.91%, rgba(62, 29, 209, 0.728) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  background: linear-gradient(90.21deg, rgba(192, 54, 136, 0.762) -5.91%, rgba(62, 29, 209, 0.728) 111.58%);
  padding: 1em;
  border-radius: 10px;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 5s ease-in-out infinite;
  border-radius: 50%;
  width: 25vh;
}

@keyframes updown {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Skills Css ************/
.skill {
  padding: 0 0 50px 0;
  /* position: relative;  */
  color: white;
}
.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  flex: 1;
  margin-top: -60px;
  width: 100%;
  padding: 4em;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
}
.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 5px;
  height: 45vh;
}

.custom-carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  padding-bottom: 0.5em;
  color: #898989;
}

.custom-carousel-arrow--left {
  left: 0px; /* Adjust this value to move the left arrow outward */
  font-weight: 700;
  font-size: 24px;
}

.custom-carousel-arrow--right {
  right: 0px; /* Adjust this value to move the right arrow outward */
  font-weight: 700;
  font-size: 24px;
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

.skill-slider .carouselItem {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #260943;
  border-radius: 10%;
  padding-top: 1vh;
  margin-left: 3vh;
  margin-right: 3vh;
  padding-bottom: 1vh;
  box-shadow: 3px 5px #561498;
  height: 100%;
  width: 80%;
  white-space: normal;
  transition: opacity 0.5s ease-in-out;
}

.skill-slider .carouselItemNew {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding-top: 1vh;
  margin-left: 3vh;
  margin-right: 3vh;
  padding-bottom: 1vh;
  width: 80%;
  white-space: normal;
  transition: opacity 0.5s ease-in-out;
}

.skill-slider .carouselItem:hover {
  opacity: 100%;
  scale: 1.1;
}

.skill-slider .carouselItem p{
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 1vh;
}

.skill-slider .carouselItem img {
  width: 70%;
  border-radius: 50%;
  padding-top: 2vh;
  margin-bottom: 2vh;
  box-shadow: 3px 5px #561498;
  margin-top: auto;
  align-self: center;
}

.skill-slider .carouselItemNew img {
  width: 70%;
  border-radius: 50%;
  padding-top: 2vh;
  margin-bottom: 2vh;
  margin-top: auto;
  align-self: center;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

.top-padding {
  padding-top: 250px;
  /* margin-top: 50px; */
}

.top-padding-20 {
  padding-top: 1.5em;
  /* margin-top: 50px; */
}

.skillPiece img {
  width: 8em;
  height: 8em;
  margin-top: 3vh;
}

.skillPiece h5 {
  opacity: 0;
}

.skillPiece:hover {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: all 1s;
}

.left {
  transform: translateX(-100%);
  filter: blur(5px);
  opacity: 0;
  transition: all 2s;
}

.right {
  transform: translateX(100%);
  filter: blur(5px);
  opacity: 0;
  transition: all 2s;
}

.transform {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


/* Projects Css */

.projects {
  padding: 80px 0;
  position: relative;
}
.projects h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  color: white;
  padding-bottom: 15%;
}

.proj-imgbx {
  display: flex;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  box-shadow: 0 0 20px rgba(201, 83, 255, 0.5);
  width: 50vh;
  height: 25vh;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txt {
  position: absolute;
  text-align: center;
  color: white;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txt {
  top: 50%;
  opacity: 1;
}
.proj-txt h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txt span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.project-modal {
  margin-top: 4%;
  padding-bottom: 5%;
}

.project-modal h4 {
  color:rgba(255, 83, 246, 0.94);
}

.project-modal h5 {
  /* font-weight: 700; */
  color:rgba(200, 83, 255, 0.94);
}

.project-popup {
  background-color: #1a1a1a;
  color: white;
}